/*
 * Tilpasset skrivebordsvisning.
 * Tilhører siden "cv.html".
 * Skrevet av: Magnus Poppe Wang
 */


/*
 * Bokselementer og deres innstillinger:
 */

html, body {
    margin:  0;
    padding: 0;
}

header, main, article, div {

}

header {

}

main {
    /** SIZE PROPERITIES **/
        min-width: 500px;
        width: 80%;
        max-width: 800px;
    
}

#cv, #omMeg {
    display: inline-block;
    position: relative;
    width: 400px;
}

#cv {
}

#omMeg {
}

.left, .right {
    display: inline-block;
    position: inherit;
}
.left {
    float: left;
    padding-right: 15px;
}

.right {
     float: left;
 }


/*
 * Fonter og utforming
 */

h1 {

    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

/*
 * Bilder o.l.
 */